.preloader {
  &-container {
    position: relative;
  }

  &-wrap {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  &-blur {
    opacity: 0.2;
    filter: blur(2px);
  }

  &-placeholder {
    background-color: $color-preloader-placeholder;
  }
}